.text-center{
    text-align: center;
  }
  h1{
    color: white;
    border: 2px ;
  }
  
  
  .bg-red{
    background: red;
  }
  .mx-auto{
    margin: auto;
  }
  .flex{
    display: flex;
    
  }
  .flex-col{
    flex-direction: column;
    
  }
  .items-center{
    align-items: center;
  }
  .button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
  }